# 1.Transformación de datos

1.Bibliotecas La biblioteca que vamos a usar es la de panda y para trabajarla importamos

In [1]:
import pandas as pd

# 2.Los datos

Vamos a utilizar para este tipo de investigación a través de un archivo llamado "datos" el cual contiene una variedad de datos e información de las publicaciones, público y puro y el cual contiene una variedad de datos de informacion de la red social instagram

**Diccionario de Datos**
basado en la información que proporcionaste. Este diccionario describe cada campo, su tipo de dato y una breve descripción.

Campo | Tipo de Dato |	Descripción
------|--------------|--------------
Identificador de la publicación | Entero | Un identificador único para cada publicación.|
Identificador de la cuenta | Entero | Un identificador único para la cuenta de usuario que realizó la publicación.|
Nombre de usuario de la cuenta | Cadena (String) |	El nombre de usuario asociado a la cuenta.|
Nombre de la cuenta | Cadena (String) |	El nombre completo de la cuenta.|
Descripción | Cadena (String) |	Texto descriptivo que acompaña a la publicación, incluyendo hashtags.|
Duración (segundos)	| Entero | Duración del contenido en segundos (aplicable a videos).|
Hora de publicación | Cadena (String) | Fecha y hora en que se realizó la publicación, en formato MM/DD/AAAA HH:mm.|
Enlace permanente |	Cadena (String) |	URL que dirige a la publicación en Instagram.|
Tipo de publicación	| Cadena (String) |	Clasificación del tipo de contenido (e.g., Reel, Secuencia).|
Comentario | Cadena (String)| o NaN	Comentarios adicionales sobre los datos; puede ser NaN si no aplica.|
Fecha |	Cadena (String) | Fecha asociada a las impresiones y otros datos; en este caso, "Total".|
Impresiones | Entero |	Número total de veces que se mostró la publicación.|
Alcance | Entero | Número total de cuentas únicas que vieron la publicación.|
Me gusta | Entero |	Número total de "me gusta" recibidos por la publicación.|
Veces que se compartió | Entero | Cantidad de veces que se compartió la publicación.|
Comentarios| Entero | Número total de comentarios recibidos en la publicación.|
Veces que se guardó| Entero | Número total de veces que se guardó la publicación por los usuarios.|

**Notas sobre las Variables**
       
*Los campos relacionados con las métricas (Impresiones, Alcance, Me gusta, etc.) son importantes para evaluar el rendimiento y el impacto del contenido publicado.

*La descripción puede contener hashtags relevantes que ayudan a categorizar el contenido y mejorar su visibilidad.

*La hora y fecha de publicación son cruciales para analizar tendencias temporales en el rendimiento del contenido.

# El proceso

Lectura y carga del dataset

Para ello se hace uso de la función read_csv de pandas y se lee el archivo previamente descargado y almacenado en la carpeta data

Cargar el archivo CSV

In [2]:
df_original = pd.read_csv('proyecto/datos/publicacion.csv')

Hacer una copia del DataFrame

In [3]:
df = df_original.copy()

Mostrar estadísticas descriptivas del DataFrame

In [4]:
print(df.head())

   Identificador de la publicación  Identificador de la cuenta  \
0                18036895583516630           17841469672972826
1                17919913235991207           17841469672972826
2                18280142476174642           17841469672972826
3                18467311951007118           17841469672972826

  Nombre de usuario de la cuenta Nombre de la cuenta  \
0                       xanduria            xanduria
1                       xanduria            xanduria
2                       xanduria            xanduria
3                       xanduria            xanduria

                                         Descripción  Duración (segundos)  \
0  #intercolombia #xanduria #gamer #gamemakerstud...                   18
1  Exponiendo la primera fase del proyecto #xandu...                    0
2  #desarrolladores  #deporte #intercolombia no t...                   20
3  #intercolombia #xanduria semana de íntegra int...                   17

  Hora de publicación                            Enlace permanente  \
0    10/21/2024 17:52  https://www.instagram.com/reel/DBaC9mqqSpj/
1    10/17/2024 13:10     https://www.instagram.com/p/DBPPi1UxMwq/
2    10/25/2024 10:07  https://www.instagram.com/reel/DBjgRUnx-D-/
3    10/23/2024 14:42  https://www.instagram.com/reel/DBe2eizxuu9/

      Tipo de publicación  Comentario sobre los datos  Fecha  Impresiones  \
0       Reel de Instagram                         NaN  Total          115
1  Secuencia de Instagram                         NaN  Total           30
2       Reel de Instagram                         NaN  Total           13
3       Reel de Instagram                         NaN  Total           46

   Alcance  Me gusta  Veces que se compartió  Comentarios  Veces que se guardó
0       90         9                       1            0                    1
1       25         2                       0            0                    0
2       13         3                       0            0                    0
3       40         1                       0            0                    0

Mostrar las primeras filas del nuevo DataFrame

In [5]:
df.describe()

,Identificador de la publicación,Identificador de la cuenta,Duración (segundos),Comentario sobre los datos,Impresiones,Alcance,Me gusta,Veces que se compartió,Comentarios,Veces que se guardó
count,4.000000e+00,4.000000e+00,4.000000,0.0,4.000000,4.000000,4.000000,4.00,4.0,4.00
mean,1.817607e+16,1.784147e+16,13.750000,NaN,51.000000,42.000000,3.750000,0.25,0.0,0.25
std,2.453832e+14,0.000000e+00,9.251126,NaN,44.743715,33.852622,3.593976,0.50,0.0,0.50
min,1.791991e+16,1.784147e+16,0.000000,NaN,13.000000,13.000000,1.000000,0.00,0.0,0.00
25%,1.800765e+16,1.784147e+16,12.750000,NaN,25.750000,22.000000,1.750000,0.00,0.0,0.00
50%,1.815852e+16,1.784147e+16,17.500000,NaN,38.000000,32.500000,2.500000,0.00,0.0,0.00
75%,1.832693e+16,1.784147e+16,18.500000,NaN,63.250000,52.500000,4.500000,0.25,0.0,0.25
max,1.846731e+16,1.784147e+16,20.000000,NaN,115.000000,90.000000,9.000000,1.00,0.0,1.00

Mostrar información sobre el DataFrame

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 17 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Identificador de la publicación  4 non-null      int64
 1   Identificador de la cuenta       4 non-null      int64
 2   Nombre de usuario de la cuenta   4 non-null      object
 3   Nombre de la cuenta              4 non-null      object
 4   Descripción                      4 non-null      object
 5   Duración (segundos)              4 non-null      int64
 6   Hora de publicación              4 non-null      object
 7   Enlace permanente                4 non-null      object
 8   Tipo de publicación              4 non-null      object
 9   Comentario sobre los datos       0 non-null      float64
 10  Fecha                            4 non-null      object
 11  Impresiones                      4 non-null      int64
 12  Alcance                          4 non-null      int64
 13  Me gusta                         4 non-null      int64
 14  Veces que se compartió           4 non-null      int64
 15  Comentarios                      4 non-null      int64
 16  Veces que se guardó              4 non-null      int64
dtypes: float64(1), int64(9), object(7)
memory usage: 676.0+ bytes

# Transformaciones

Eliminación de columnas innecesarias para el proceso
Se eliminan primero las columnas que no aportan al proceso, las cuales son:

**Comentario sobre los datos** esta columna que solo contiene datos y nulos o en cero ya que no se generó ningún comentario de esas publicaciones y pues no nos genera ninguna información para el proceso de análisis

Existen varias formas de eliminar una columna

1 - Con la palabra reservada `del`
del df['Comentario sobre los datos']

2 - Con la propiedad drop y se toma el axis=1 porque corresponde a las columnas

In [7]:
df = df.drop('Comentario sobre los datos', axis=1)

In [8]:
df = df.drop('Nombre de usuario de la cuenta', axis=1)

In [9]:
df.describe()

,Identificador de la publicación,Identificador de la cuenta,Duración (segundos),Impresiones,Alcance,Me gusta,Veces que se compartió,Comentarios,Veces que se guardó
count,4.000000e+00,4.000000e+00,4.000000,4.000000,4.000000,4.000000,4.00,4.0,4.00
mean,1.817607e+16,1.784147e+16,13.750000,51.000000,42.000000,3.750000,0.25,0.0,0.25
std,2.453832e+14,0.000000e+00,9.251126,44.743715,33.852622,3.593976,0.50,0.0,0.50
min,1.791991e+16,1.784147e+16,0.000000,13.000000,13.000000,1.000000,0.00,0.0,0.00
25%,1.800765e+16,1.784147e+16,12.750000,25.750000,22.000000,1.750000,0.00,0.0,0.00
50%,1.815852e+16,1.784147e+16,17.500000,38.000000,32.500000,2.500000,0.00,0.0,0.00
75%,1.832693e+16,1.784147e+16,18.500000,63.250000,52.500000,4.500000,0.25,0.0,0.25
max,1.846731e+16,1.784147e+16,20.000000,115.000000,90.000000,9.000000,1.00,0.0,1.00

# Renombrando columnas
Ahora lo que vamos a hacer es renombrar unas columnas, simplemente para que se pueda entender mejor, como por ejemplo Name, la vamos a dejar como Full Name

Identificador de la publicación: Id publicacion

Identificador de la cuenta: Id cuenta

Veces que se compartió: Compartio

Veces que se guardó: Guardadas

In [10]:
COLUMNS_TO_RENAME = {
    'Identificador de la publicación': 'Id publicacion',
    'Identificador de la cuenta': 'Id cuenta',
    'Veces que se compartió': 'Compartio',
    'Veces que se guardó': 'Guardadas',
}

df = df.rename(columns=COLUMNS_TO_RENAME)

In [11]:
df.describe()

,Id publicacion,Id cuenta,Duración (segundos),Impresiones,Alcance,Me gusta,Compartio,Comentarios,Guardadas
count,4.000000e+00,4.000000e+00,4.000000,4.000000,4.000000,4.000000,4.00,4.0,4.00
mean,1.817607e+16,1.784147e+16,13.750000,51.000000,42.000000,3.750000,0.25,0.0,0.25
std,2.453832e+14,0.000000e+00,9.251126,44.743715,33.852622,3.593976,0.50,0.0,0.50
min,1.791991e+16,1.784147e+16,0.000000,13.000000,13.000000,1.000000,0.00,0.0,0.00
25%,1.800765e+16,1.784147e+16,12.750000,25.750000,22.000000,1.750000,0.00,0.0,0.00
50%,1.815852e+16,1.784147e+16,17.500000,38.000000,32.500000,2.500000,0.00,0.0,0.00
75%,1.832693e+16,1.784147e+16,18.500000,63.250000,52.500000,4.500000,0.25,0.0,0.25
max,1.846731e+16,1.784147e+16,20.000000,115.000000,90.000000,9.000000,1.00,0.0,1.00

## Análisis por agrupaciones

Este código se utiliza para filtrar los datos de un DataFrame en base a ciertas condiciones, y luego seleccionar solo las columnas de interés. Se puede dividir en dos partes principales:

- **Filtrado de filas**: `df[ df['Last Name'] == 'andersson' ]`
- **Selección de columnas**: `[ ['Status', 'Sex', 'Pclass'] ]`

Veamos cada parte con más detalle:


#### 1. Filtrado de filas: `df[ df['Last Name'] == 'andersson' ]`
Esta es la primera parte del código, que se encarga de filtrar las filas de acuerdo a una condición específica.

***Desglose***:

- `df['Last Name']`: Esto accede a la columna `Last Name` dentro del DataFrame df.

- `df['Last Name'] == 'andersson'`: Aquí estamos creando una condición booleana que verifica si cada valor de la columna `Last Name` es igual a `andersson`. El resultado de esta comparación es una **serie** de valores True y False. Por ejemplo, si en una fila el apellido es `andersson`, el valor será True, y si no lo es, será False.

- `df[ df['Last Name'] == 'andersson' ]`: Esta es una indexación booleana. Usamos la condición booleana que se generó en el paso anterior para seleccionar solo las filas donde el valor de la columna `Last Name` es igual a `andersson`. El resultado es un nuevo DataFrame que solo contiene las filas que cumplen con esta condición.

#### 2. Selección de columnas: `[['Status', 'Sex', 'Pclass']]`
Una vez que hemos filtrado las filas que cumplen con la condición, ahora seleccionamos las columnas que nos interesan.

***Desglose***:
- `[['Status', 'Sex', 'Pclass']]`: Este es un subconjunto de columnas. En pandas, podemos seleccionar varias columnas especificando los nombres de las columnas dentro de una lista. En este caso, estamos seleccionando tres columnas: `Status`, `Sex` y `Pclass`.

Esto significa que después de filtrar las filas con el apellido `andersson`, vamos a mostrar solo las columnas `Status`, `Sex` y `Pclass` de esas filas.

In [14]:
df_filtered = df[['Id publicacion', 'Me gusta', 'Alcance', 'Compartio']]

In [15]:
print(df_filtered)

      Id publicacion  Me gusta  Alcance  Compartio
0  18036895583516630         9       90          1
1  17919913235991207         2       25          0
2  18280142476174642         3       13          0
3  18467311951007118         1       40          0

# Guardar la información

Ahora, suponiendo que se ha finalizado con las transformaciones, se procede a guardar el dataframe resultante en un csv.

In [18]:
df.to_csv('proyecto/datos/Xanduria_transformado.csv') # esto nos guarda el DataFrame en un archivo csv